.input-search{
  background-color: #242F3D;
  color: #6D7883;
  // border: none;
  // padding: 10px;
  // border-radius: 8px;
  width: 85%;

  &:focus{
    outline: none;
  }
}

.center-item{
  background-color: #17212B;
  height: 95vh;
}

.unlock-button{
  // border: none;
  // padding: 0;
  background-color: transparent;
  position: relative;
}
