.header{
  // padding: 10px;
  height: 63px;
  position: relative;
}

.header-right{
  border-left: 2px solid #101921;
  background-color: #17212B;
  color: aliceblue;
  display: none;
}

.header-right-active{
  display: flex;
}

.header__title{
  font-size: 18px;
  // margin: 0;
}

.header__status{
  // margin: 0;
  font-size: 14px;
  color: $status;
}

.header__right-bar{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.icon{
  fill: $grey;
  margin-right: 15px;
  
  &:hover{
    fill: white;
  }
}

.header-jamol{
  display: none;
}

.header-jamol-active{
  display: block;
}
